{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-condensed">
    <thead>
    <tr class="active">
        <th>{% trans %}Candidate{% endtrans %}</th>
        <th style="text-align: right">{% trans %}Vote count{% endtrans %}</th>
        <th style="text-align: right">{% trans %}Percentage{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="danger">
        <td colspan="3">{% trans %}Year{% endtrans %} {{'now'|date('Y')}}-{{'now'|date('Y')+1}} - ???</td>
    </tr>

    {% for year, data in archive %}
        <tr class="info">
            <td colspan="3">{% trans %}Year{% endtrans %} {{year}}-{{year+1}} - <i>{{ data.winner }}</i> - {{ data.voters }} {% trans %}voters in total{% endtrans %}</td>
        </tr>

        {% for candidate in data.candidates %}
            <tr>
            <td>{{ candidate.name }}</td>
            <td style="text-align: right">{{ candidate.votes }}</td>
            <td style="text-align: right">{{ (candidate.votes/data.voters*100)|number_format(2) }} %</td>
            </tr>
        {% endfor %}

    {% endfor %}
    </tbody>
</table>
{% endblock %}
