{% extends 'base.html.twig' %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="grid-x">
    <div class="cell large-12">
        <h3 style="text-align: center;">
            <img src="{{ asset('logovotix.jpg') }}" style="width: 80px; height: 80px;" alt="Logo votix">
            Élections du BDE
        </h3>
    </div>
    <div class="cell large-9 progress-cell">
        <h3>Progression</h3>

        <div class="grid-x">
        {% for progress in all_progress %}
            <div class="cell small-3">
                {{ progress.promotion |slice(3) }}
            </div>
            <div class="cell small-9">
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ progress.ratio_int }}" aria-valuemin="0" aria-valuetext="{{ progress.ratio_int }}%" aria-valuemax="100">
                    <span class="progress-meter" style="width: {{ progress.ratio_int }}%">
                      <span class="progress-meter-text">{{ progress.ratio_int }}%</span>
                    </span>
                  </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="cell large-3">
        <h4>Informations</h4>

        <dl>
            <dt>{% trans %}Server date{% endtrans %}</dt>
            <dd>{{ now|date("d/m/Y H:i:s", "Europe/Paris") }}</dd>
            <dt>{% trans %}Vote opening date{% endtrans %}</dt>
            <dd>{{ start|date("d/m/Y H:i:s", "Europe/Paris") }}</dd>
            <dt>{% trans %}Vote closing date{% endtrans %}</dt>
            <dd>{{ end|date("d/m/Y H:i:s", "Europe/Paris") }}</dd>
            <dt>{% trans %}Vote status{% endtrans %} : <b>{{ status|trans }}</b></dt>
            <dd>À l'heure de Paris</dd>
          </dl>
    </div>
</div>

{% endblock %}
