<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Votix, voting software">
    <meta name="author" content="https://www.clubnix.fr">
    {% block meta %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Votix{% endblock %}</title>


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
  <header class="subnav-hero-section">
    <h1 class="subnav-hero-headline">
      <a href="{{ path('homepage') }}">Votix</a>
    </h1>
    <!-- <small>Élections du BDE</small> -->

    <ul class="subnav-hero-subnav">
      <li>
        <a class="navbar-item {{ app.request.attributes.get('_route') == 'homepage' ? 'is-active' }}" href="{{ path('homepage') }}">
          {% trans %}Homepage{% endtrans %}
        </a>
      </li>
      <li>
        <a class="navbar-item {{ app.request.attributes.get('_route') == 'faq' ? 'is-active' }}" href="{{ path('faq') }}">
          {% trans %}F.A.Q.{% endtrans %}
        </a>
      </li>
    </ul>
  </header>


  <article class="grid-container">
    <div class="grid-x align-center">
      <div class="cell medium-8">
        {% block body %}{% endblock %}

        <footer class="footer">
          <p><a href="{{ path('demo') }}">demos</a> - &copy; 2006 - {{ "now"|date("Y") }} | <a href="https://github.com/ClubNix/Votix">Votix</a></p>
        </footer>
      </div>
    </div>
  </article>

  {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
</body>
</html>